* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*importante*/
@media (max-width: 430px) {
}
/*importante*/
@media (max-width: 768px) {
}
/*importante*/
@media (max-width: 1024px) {
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c5c5c5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dc143c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f0e28;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  padding: 8px;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding-inline: 13px;
  z-index: 1;
  background-color: #ff0000;
}

header a {
  font-weight: 600;
  font-size: 26px;
  padding: 24px;
  padding-block: 12px;
  border-radius: 22px;
  letter-spacing: 1px;
  color: white;
}

header a:hover {
  transition: 200ms;
  background-color: #950101;
}

header a:active {
  color: #dbdbdb;
}

header ul {
  margin: auto;
  display: flex;
  padding-top: 2.2%;
  gap: 32px;
  list-style: none;
}

nav {
  height: 80px;
  margin-inline: auto;
  list-style: none;
}

section {
  margin: 0;
  padding: 0;
}

.crimsoncursetext {
  width: 1000px;
  margin: auto;
  padding-top: 85px;
}

#crimsoncurselogo {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e4e4e4;
}

#crimsoncurselogo img{
  transition: 200ms;
  scale: 100%;
}
#crimsoncurselogo img:hover {
  transition: 200ms;
  scale: 103%;
}

#elmwood {
  box-sizing: border-box;
  text-align: center;
  background-color: #0d0b0b;
  color: white;
}

#elmwood h2 {
  padding-top: 58px;
  padding-bottom: 28px;
  font-size: 30px;
}

.column1 {
  float: left;
  width: 50%;
  padding-bottom: 90px;
  text-align: center;
  color: white;
  background-color: #0d0b0b;
}

.column1 img {
  height: 50%;
  width: 50%;
  margin-top: 30px;
  margin-left: 22%;
  border-radius: 8px;
  transition: 200ms;
}

.column1 img:hover {
  scale: 103%;
  box-shadow: #dc143c 0 0 22px;
  transition: 200ms;
}

.column1 h2 {
  padding-top: 13%;
  margin-left: 22%;
}

.column1 p {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 8.86%;
  margin-left: 22%;
}

.column2 {
  float: left;
  width: 50%;
  padding-bottom: 90px;
  text-align: center;
  color: white;
  background-color: #0d0b0b;
}

.column2 img {
  height: 50%;
  width: 50%;
  margin-top: 12%;
  margin-right: 22%;
  border-radius: 8px;
  transition: 200ms;
}

.column2 img:hover {
  scale: 103%;
  box-shadow: #dc143c 0 0 22px;
  transition: 200ms;
}

.column2 h2 {
  padding-top: 13%;
  margin-right: 22%;
}

.column2 p {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-right: 22%;
}

#personagem {
  padding-top: 30px;
  text-align: center;
  box-sizing: border-box;
  background-color: #1d1b1b;
  color: white;
  padding-bottom: 740px;
}

#personagem h2 {
  padding-top: 40px;
  font-size: 30px;
}

#personagem img {
  scale: 80%;
  border-radius: 12px;
  box-shadow: #e5e6e8 0 0 20px;
  background-color: white;
}

#personagem h3 {
  text-align: center;
  font-size: 26px;
  padding-top: 34px;
  padding-bottom: 20px;
}

.esfera {
  padding-left: 18%;
  float: left;
}

.aurora {
  padding-right: 18%;
  float: right;
}

#personagem h4 {
  font-size: 20px;
  padding: 15px;
  animation: color-change 2s infinite linear;
}

@keyframes color-change {
  0% {color: #364F6B}
  25% {color: #3FC1C9;}
  50% {color: #C9B6E4;}
  75% {color: #ca9ce5;}
  100% {color: #0D7377;}
}

#personagem p {
  padding: 8px;
  font-size: 18px;
}

#download {
  height: 400px;
  padding-top: 98px;
  padding-bottom: 140px;
  text-align: center;
  background-color: #e4e4e4;
}

#download h2 {
  font-size: 48px;
  padding-bottom: 86px;
}

#windows-icon img {
  margin-top: 150px;
}

#download a {
  padding: 35px;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 1px;
  border-radius: 28px;
  box-shadow: #d41c1c 0 0 18px;
  transition: 200ms;
  color: #c5d2dc;
  background-color: #dc143c;
}

#download a:hover {
  font-size: 34px;
  letter-spacing: 2px;
  border-radius: 32px;
  transition: 200ms;
  box-shadow: #e32c2c 0 0 24px;
  background-color: #941f35;
}

#sobre {
  text-align: center;
  color: #dbe8f6;
  background-color: #1d1b1b;
}

#sobre h2 {
  font-size: 45px;
  padding-top: 58px;
  padding-bottom: 68px;
}

#sobre h3 {
  font-size: 38px;
}

#sobre img {
  margin-left: 25%;
  margin-right: 25%;
}

#construct3 {
  padding: 15px;
  scale: 130%;
  transition: 200ms;
}

#construct3:hover {
  scale: 135%;
  transition: 200ms;
}

#piskel {
  padding: 15px;
  scale: 80%;
  transition: 200ms;
}

#piskel:hover {
  scale: 85%;
  transition: 200ms;
}

#freesound {
  padding: 15px;
  scale: 120%;
  transition: 200ms;
  padding-bottom: 40px;
}

#freesound:hover {
  scale: 125%;
  transition: 200ms;
}

#quemsomos {
  padding-bottom: 30px;
  text-align: center;
  color: black;
  background-color: #e8e5e5;
}

#quemsomos img {
  height: 20%;
  width: 20%;
  border-radius: 20px;
}

#quemsomos h2 {
  padding-top: 58px;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 40px;
}

#quemsomos h3 {
  font-size: 30px;
  padding-top: 8px;
  padding-bottom: 12px;
}

#quemsomos p {
  font-size: 22px;
}

footer {
  margin: auto;
  text-align: center;
  padding-top: 30px;
  background-color: #ff0000;
  color: white;
}

footer h3 {
  padding: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

footer p {
  font-weight: 500;
  font-size: 12px;
}

#contato img {
  scale: 40%;
}