html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: oklch(20.5% 0 0);
}

::-webkit-scrollbar-thumb {
  background: oklch(58.6% 0.253 17.585);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(64.5% 0.246 16.439);
}

.header-link {
  position: relative;
}

.header-link::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  bottom: -7px;
  left: 50%;
  background: oklch(57.7% 0.245 27.325);
  border-radius: 999px;
  transition: all 200ms ease;
}

.header-link:hover::after {
  width: 100%;
  left: 0;
}

@keyframes colorCycle {
  0% {
    color: #00ca1b;
  }

  50% {
    color: #0b79a5;
  }

  100% {
    color: #29b6b6;
  }
}

.animate-colorCycle {
  animation: colorCycle 2s ease infinite;
}

@keyframes pulse-shadow {
  0%,
  100% {
    box-shadow: 0 0 8px #f43f5e;
  }
  50% {
    box-shadow: 0 0 20px #f43f5e;
  }
}
.animate-pulse-shadow {
  animation: pulse-shadow 3s ease-in-out infinite;
}
